/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/open-sans-v18-latin-regular.a7fb0f78.woff2") format("woff2"), url("/open-sans-v18-latin-regular.993df29c.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/open-sans-v18-latin-600.1c6b047f.woff2") format("woff2"), url("/open-sans-v18-latin-600.5624cb69.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/open-sans-v18-latin-700.48ba7f00.woff2") format("woff2"), url("/open-sans-v18-latin-700.07bd07fd.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/open-sans-v18-latin-800.9f05994e.woff2") format("woff2"), url("/open-sans-v18-latin-800.d2608ba2.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url("/nunito-v14-latin-regular.13f5aacb.woff2") format("woff2"), url("/nunito-v14-latin-regular.a13de393.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("/nunito-v14-latin-600.511727f7.woff2") format("woff2"), url("/nunito-v14-latin-600.1139f046.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("/nunito-v14-latin-700.0a7fd882.woff2") format("woff2"), url("/nunito-v14-latin-700.e1df99d1.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("/nunito-v14-latin-800.1695a8d8.woff2") format("woff2"), url("/nunito-v14-latin-800.91a406f8.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: local("Nunito Black"), local("Nunito-Black"), url("/nunito-v14-latin-900.6670e4e0.woff2") format("woff2"), url("/nunito-v14-latin-900.be0846cb.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
article.project-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 422px;
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  border-style: solid;
  border-width: 0px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 500px) {
  article.project-card {
    font-size: 16px;
  }
}

div.project-card-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
div.project-card-title .project-card-text {
  margin-right: 5px;
}
div.project-card-title .project-card-text * {
  margin: 0;
}
div.project-card-title .project-card-text h3 {
  color: #47484f;
  font-weight: 800;
}
div.project-card-title .project-card-text h4 {
  color: #656670;
  font-weight: 600;
}
div.project-card-title .project-card-text p {
  margin-top: 0.75em;
  color: #656670;
}
div.project-card-title .project-card-links {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
div.project-card-title .project-card-links > * {
  margin: 0;
  margin-right: 0.5em;
}
div.project-card-title .project-card-links :last-child {
  margin-right: 0;
}

.project-card-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  margin-top: 0.25em;
}
.project-card-tags > * {
  margin: 0;
  margin-right: 0.5em;
  margin-top: 0.35em;
}
.project-card-tags :last-child {
  margin-right: 0;
}

img.project-card-img {
  flex-shrink: 0;
  align-self: center;
  margin: 0;
  object-fit: cover;
  height: 240px;
  width: 422px;
}

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 1em;
}

html,
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
}
@media screen and (max-width: 450px) {
  html,
body {
    background-color: #6c63fa;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

a {
  box-sizing: border-box;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

#background-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  border: none;
  pointer-events: none;
}
@media screen and (max-width: 450px) {
  #background-canvas {
    display: none;
  }
}

.main-content {
  margin: auto;
  padding: 30px 60px;
  width: 100vw;
  max-width: 1000px;
  height: 100vh;
}
@media screen and (max-width: 481px) {
  .main-content {
    padding: 20px 40px;
  }
}

.profile {
  background-color: #fff;
  border: none;
  max-width: 600px;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.profile * {
  color: #47484f;
}
.profile * + * {
  margin-top: 0;
  margin-left: 1.5em;
}
@media screen and (max-width: 530px) {
  .profile {
    flex-flow: column nowrap;
  }
  .profile * + * {
    margin-left: 0;
    margin-top: 1em;
  }
}
.profile .profile-image {
  max-width: 150px;
  min-width: 75px;
  border-radius: 100px;
  box-shadow: -3px 8px 15px 5px rgba(0, 0, 0, 0.3);
}
.profile .profile-text > * {
  margin: 0;
}
.profile .profile-text .title {
  font-weight: 700;
}
.profile .profile-text .socials {
  margin-top: 1em;
}
@media screen and (max-width: 481px) {
  .profile .profile-text {
    font-size: 15px;
  }
}

.projects-container {
  margin-top: 2em;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(422px, 1fr));
  justify-items: center;
  gap: 36px;
}
@media screen and (max-width: 769px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

a.btn {
  display: block;
  width: max-content;
}

.btn {
  padding: 11px 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 9px;
  background-color: #fa6863;
  color: #fff;
}
.btn.btn-github-small {
  background-color: #222;
  padding: 20px 20px;
  background-image: url(/github-icon-white-64.8e89abf4.png);
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 650px) {
  .btn.btn-github-small {
    padding: 17px 17px;
    background-size: 22px auto;
  }
}
.btn.btn-github {
  background-color: #222;
  padding-left: 45px;
  background-image: url(/github-icon-white-64.8e89abf4.png);
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: 8% 50%;
}
@media screen and (max-width: 650px) {
  .btn.btn-github {
    padding-left: 35px;
    background-size: 22px auto;
  }
}
@media screen and (max-width: 650px) {
  .btn {
    padding: 10px 10px;
    font-size: 14px;
  }
}
.btn:hover {
  cursor: pointer;
  color: #ddd;
}
.btn:active {
  position: relative;
  top: 1px;
}

.section-header {
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 4px solid #fff;
}

.tag {
  padding: 6px 8px 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  border: solid;
  border-width: 2.5px;
  border-radius: 15px;
  color: #bd58fd;
}
@media screen and (max-width: 650px) {
  .tag {
    border-width: 2px;
    padding: 5.5px 6px 3px 6px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=/main.48b3db1d.css.map */