// @import "modern-normalize/modern-normalize.css";
@import "fonts.scss";
@import "variables.scss";
@import "project-preview.scss";

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 0.75em;
}

html,
body {
  margin: 0;
  font-family: $body-font;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  font-size: $font-size;
  color: $color-text-light-primary;

  background-color: transparent;
  @media screen and (max-width: $animated-background-cutoff) {
    background-color: $color-bg-primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-light-primary;
  line-height: $header-line-height;
  font-family: $header-font;
  font-weight: $header-font-weight;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

#background-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  border: none;
  pointer-events: none;

  @media screen and (max-width: $animated-background-cutoff) {
    display: none;
  }
}

.main-content {
  // display: flex;
  // flex-flow: column;
  // align-items: center;
  // justify-content: center;
  margin: auto;
  padding: 20px 60px;
  width: 100vw;
  max-width: 1000px;
  height: 100vh;

  @media screen and (max-width: $md) {
    padding: 10px;
  }

  @media screen and (max-width: $sm) {
    padding: 0px;
  }
}

.projects-container {
  // flex-shrink: 0;
  // flex-grow: 1;
  // overflow: hidden;
  max-width: 880px;
  display: grid;
  margin: auto;
  padding: 15px;
  grid-template-columns: repeat(auto-fit, minmax($project-preview-width, 1fr));
  justify-items: center;
  gap: 2rem;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.btn {
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: $button-color-primary;
  color: $color-text-light-primary;

  &.btn-github {
    background-color: #222;
    width: 40px;
    background-image: url(../images/github-icon-white-64.png);
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (max-width: 650px) {
      width: 30px;
      background-size: 22px auto;
    }
  }

  @media screen and (max-width: 650px) {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  &:hover {
    cursor: pointer;
    color: $color-text-light-hover;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.section-header {
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 4px solid #fff;
}

.tag {
  padding: 6px 8px 4px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  border: solid;
  border-width: 2.5px;
  border-radius: 15px;
  color: $tag-color-primary;
  @media screen and (max-width: 650px) {
    border-width: 2px;
    padding: 5.5px 6px 3px 6px;
    font-size: 14px;
  }
}
