// @import "modern-normalize/modern-normalize.css";
@import "fonts.scss";
@import "variables.scss";
@import "project-preview.scss";

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 1em;
}

html,
body {
  margin: 0;
  font-family: $body-font;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  font-size: $font-size;
  color: $color-text-light-primary;

  @media screen and (max-width: $sm) {
    font-size: $font-size - 1;
  }
}

body {
  background-color: $color-bg-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-light-primary;
  line-height: $header-line-height;
  font-family: $header-font;
  font-weight: $header-font-weight;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

#background-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -10;
  border: none;
  pointer-events: none;
}

.main-content {
  margin: auto;
  padding: 30px 60px;
  width: 100vw;
  max-width: 1000px;
  height: 100vh;

  @media screen and (max-width: $sm) {
    padding: 20px 40px;
  }
}

.profile {
  background-color: $color-bg-light;
  border: none;
  max-width: 600px;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  box-shadow: $box-shadow;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & * {
    color: $color-text-dark-primary;
  }

  * + * {
    margin-top: 0;
    margin-left: 1.5em;
  }

  @media screen and (max-width: 530px) {
    flex-flow: column nowrap;
    * + * {
      margin-left: 0;
      margin-top: 1em;
    }
  }

  .profile-image {
    max-width: 150px;
    min-width: 75px;
    border-radius: 100px;
    box-shadow: -3px 8px 15px 5px rgba(0, 0, 0, 0.3);
  }

  .profile-text {
    & > * {
      margin: 0;
    }

    .title {
      font-weight: 700;
    }

    .socials {
      margin-top: 1em;
    }

    @media screen and (max-width: $sm) {
      font-size: 17px;
    }
  }
}

.projects-container {
  margin-top: 2em;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($project-preview-width, 1fr));
  justify-items: center;
  gap: 36px;

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
  }
}

@mixin button-background-color($background-color) {
  background-color: $background-color;
  transition: background-color 0.15s ease;
  &:hover {
    background-color: darken($background-color, 10%);
    cursor: pointer;
  }

  &:disabled {
    background-color: lighten($background-color, 20%);
    box-shadow: none;
    cursor: default;
  }
}

a.btn {
  display: block;
  width: max-content;
}

.btn {
  padding: 12px 10px 11px 10px;
  text-decoration: none;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  border: none;
  border-radius: 9px;
  background-color: $btn-color-primary;
  color: $color-text-light-primary;

  @include button-background-color($btn-color-primary);

  &.btn-github-small {
    background-color: #282828;
    padding: 20px 20px;
    background-image: url(../images/github-icon-white-64.png);
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (max-width: $sm) {
      padding: 17px 17px;
      background-size: 22px auto;
    }

    @include button-background-color(#282828);
  }

  &.btn-github {
    padding-left: 45px;
    background-image: url(../images/github-icon-white-64.png);
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 8% 50%;

    @include button-background-color(#282828);

    @media screen and (max-width: $sm) {
      padding-left: 35px;
      background-size: 22px auto;
    }
  }

  @media screen and (max-width: $sm) {
    padding: 10px 10px;
    font-size: $btn-font-size-sm;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.section-header {
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 4px solid #fff;
}

.tag {
  padding: 3px 8px 4px 8px;
  text-align: center;
  text-decoration: none;
  font-size: $tag-font-size;
  font-family: $tag-font-family;
  font-weight: $tag-font-weight;
  border: solid;
  border-width: 2px;
  border-radius: 15px;
  color: $tag-color-primary;
  @media screen and (max-width: $sm) {
    border-width: 2px;
    padding: 2px 7px 3px 7px;
    font-size: $tag-font-size-sm;
  }
}
