@import "variables.scss";

article.project-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  max-width: $project-preview-width;
  margin: 0;

  padding: 0 0.5em 0.5em 0.5em;
  background-color: $color-bg-secondary;
  border-style: solid;
  border-width: 0px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: $box-shadow;

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

div.project-card-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;

  .project-card-text {
    margin-right: 5px;
    * {
      margin: 0;
    }

    h3 {
      color: $color-text-dark-primary;
      font-weight: 700;
    }

    h4 {
      color: $color-text-dark-secondary;
      font-weight: 600;
    }

    p {
      margin-top: 0.75em;
      color: $color-text-dark-secondary;
    }
  }

  .project-card-links {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > * {
      margin: 0;
      margin-right: 0.5em;
    }
    :last-child {
      margin-right: 0;
    }
  }
}

.project-card-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  margin-top: 0.25em;
  & > * {
    margin: 0;
    margin-right: 0.5em;
    margin-top: 0.35em;
  }
  :last-child {
    margin-right: 0;
  }
}

img.project-card-img {
  flex-shrink: 0;
  align-self: center;
  margin: 0;
  object-fit: cover;
  height: 240px;
  width: $project-preview-width;
}
