$color-bg-primary: #6c63fa;
$color-bg-light: #fff; // #ececed;
$color-bg-dark: #47484f;
$color-text-light-primary: #fff; // #ececed;
$color-text-light-hover: #ddd;
$color-text-dark-primary: #47484f;
$color-text-dark-secondary: #656670;

$button-color-primary: #fa6863;

$tag-color-primary: #bd58fd; //#913cc7; //#fade4b; //#dffa4b; //#3c34ad; //#bd58fd; //#fab463;

$sm: 481px;
$md: 769px;
$lg: 1025px;

$animated-background-cutoff: 450px;

$font-size: 18px;
$header-font: "Nunito", sans-serif;
$header-font-weight: 900;
$header-line-height: 1.4;
$body-font: "Nunito", sans-serif;
$body-font-weight: 500;
$body-line-height: 1;

$box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);

$project-preview-width: 422px;
