$color-bg-primary: #6c63fa;
$color-bg-secondary: #fff; // #ececed;
$color-text-light-primary: #fff; // #ececed;
$color-text-light-hover: #eee;
$color-text-dark-primary: #47484f;
$color-text-dark-secondary: #656670;

$button-color-primary: #fa6863;

$tag-color-primary: #bd58fd; //#913cc7; //#fade4b; //#dffa4b; //#3c34ad; //#bd58fd; //#fab463;

$sm: 481px; // Mobile devices
$md: 769px; // Tablets
$lg: 1025px; // Laptops

$font-size: 18px;
$header-font: "Montserrat", sans-serif;
$header-font-weight: 800;
$header-line-height: 1.4;
$body-font: "Hind", sans-serif;
$body-font-weight: 500;
$body-line-height: 1;

$box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.3);
