

mixin project-preview(project)
  article.project-card
    a(href= project.repoLink, title="Go to GitHub repository")
      img.project-card-img(src= project.imageURL alt= project.name)
    .project-card-content
      .top-aligned
        .project-card-header
          a(href= project.repoLink, title="Go to GitHub repository")
            h2= project.name
          .project-card-links
            if project.demoLink
              a(href= project.demoLink).btn Demo
        .project-card-body
          if project.description
            p= project.description
      .project-card-tags.bottom-aligned
        each tag in project.tags
          .tag= tag
