

mixin project-preview(project)
  article.project-card
    img.project-card-img(src= project.imageURL alt= project.title)
    .project-card-title
      .project-card-text
        h3= project.name
        h4= project.date

      .project-card-links
        if project.repoLink
          a(href= project.repoLink).btn.btn-github-small
        if project.demoLink
          a(href= project.demoLink).btn Demo
        //p= project.description

      
    .project-card-tags
      each tag in project.tags
        .tag= tag
