doctype html
html(lang="en")
  head
    title Projects
    meta(name="description" content="Some projects I've made.")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    //- Pull favicon from current github profile picture
    link(id="favicon", rel="shortcut icon", type="image/png", href="https://github.com/metzlr.png")
    link(rel="stylesheet", href="styles/main.scss")

    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-179711971-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179711971-1');


  body
    canvas#background-canvas
    main.main-content
      div.profile
        img.profile-image(src="https://github.com/metzlr.png" alt="metzlr")
        div.profile-text
          h2.name Reed Metzler-Gilbertz
          h4.title Computer Science student at RPI
          div.socials
            a.btn.btn-github(href="https://github.com/metzlr") GitHub
        
      div.projects-container
        include mixins/project-preview
        - 
          var projects = [
            {
              name: "Portals",
              description: "An implementation of functioning portals written using THREE.js.",
              tags: ["THREE.js", "WebGL", "JavaScript"],
              imageURL: "/images/projects/portals/preview.png",
              repoLink: "https://github.com/metzlr/portals",
              demoLink: "https://metzlr.github.io/portals",
            },
            {
              name: "DormDesign",
              description: "A web app where roommates can collaboratively design their dorm room in realtime.",
              tags: ["React", "Node.js", "Express", "Rethinkdb"],
              imageURL: "/images/projects/dormdesign/preview.png",
              repoLink: "https://github.com/gmisail/dormdesign",
            },
            {
              name: "Maze Mesh Generator",
              description: "Generates and displays random 2D and 3D maze meshes.",
              tags: ["C++", "WebGL", "JavaScript"],
              imageURL: "/images/projects/maze-generator/preview-large.png",
              repoLink: "https://github.com/metzlr/maze-generator",
              demoLink: "https://metzlr.github.io/maze-generator",
            },
            {
              name: "MovieStash",
              description: "An IOS app for finding and keeping track of movies.",
              tags: ["Swift", "SwiftUI", "CloudKit"],
              imageURL: "/images/projects/moviestash/preview.png",
              repoLink: "https://github.com/metzlr/moviestash",
            },
            {
              name: "3D Function Grapher",
              description: "Visualizes 3D functions.",
              tags: ["JavaScript", "THREE.js", "Parcel"],
              imageURL: "/images/projects/grapher3D/preview.png",
              repoLink: "https://github.com/metzlr/grapher3D",
              demoLink: "https://metzlr.github.io/grapher3D",
            },
            {
              name: "MusicFeed",
              description: "Site that uses the Spotify API to find new music from artists that users follow or search for.",
              tags: ["Django", "Bootstrap", "Apache"],
              imageURL: "/images/projects/musicfeed/preview.png",
              repoLink: "https://github.com/metzlr/MusicFeed",
              demoLink: "http://musicfeed.info/",
            },
            {
              name: "Delaunay-JS",
              description: "A visualization using my implementation of an algorithm that generates Delaunay triangulations.",
              tags: ["JavaScript"],
              imageURL: "/images/projects/delaunay-js/preview.png",
              repoLink: "https://github.com/metzlr/delaunay-js",
              demoLink: "https://metzlr.github.io/delaunay-js",
            },
          ]
        each project in projects
          +project-preview(project)

    script(src="background/moving-triangles.js")
      
      
