doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="styles/main.scss")
  body
    h1 Pug - node template engine
    #container.col
      p.
        Pug is a terse and simple templating language with a #[strong HELLO]
        strong focus on performance and powerful features
      div
        p This text belongs to the paragraph tag.
        br
        .
          This text belongs to the div tag.