doctype html
html(lang="en")
  head
    title Projects
    meta(name="description" content="Some projects I've made.")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    //- Pull favicon from current github profile picture
    link(id="favicon", rel="shortcut icon", type="image/png", href="https://github.com/metzlr.png")
    link(rel="stylesheet", href="styles/main.scss")

    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-179711971-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179711971-1');


  body
    canvas#background-canvas
    main.main-content
      div.profile
        //- img.profile-image(src="https://github.com/metzlr.png" alt="metzlr")
        div.profile-text
          h1.name Reed Metzler-Gilbertz
          
          div.socials
            a.btn.btn-github(href="https://github.com/metzlr") GitHub
            a.btn.btn-linkedin(href="http://www.linkedin.com/in/reedmg/")

          p This is a page with some stuff I've made.
        
      div.projects-container
        include mixins/project-preview
        - 
          var projects = [
            {
              name: "DormDesign",
              description: "A realtime web app to help roommates collaboratively design their dorm room",
              tags: ["React", "Node.js", "MongoDB", "Redis"],
              imageURL: "/images/projects/dormdesign/preview.png",
              repoLink: "https://github.com/gmisail/dormdesign",
            },
            {
              name: "Portals",
              description: "Interactive, recursive portal rendering using WebGL and THREE.js",
              tags: ["THREE.js", "WebGL"],
              imageURL: "/images/projects/portals/preview.png",
              repoLink: "https://github.com/metzlr/portals",
              demoLink: "https://metzlr.github.io/portals",
            },
            {
              name: "MovieStash",
              description: "Minimalist movie library that's synced across devices",
              tags: ["SwiftUI", "CloudKit"],
              imageURL: "/images/projects/moviestash/preview.png",
              repoLink: "https://github.com/metzlr/moviestash",
            },
            {
              name: "Encrypted Journal",
              description: "CLI tool that encrypts and decrypts entries from a password",
              tags: ["Python"],
              imageURL: "/images/projects/encrypted-journal/preview.png",
              repoLink: "https://github.com/metzlr/encrypted-journal",
            },
            {
              name: "Maze Mesh Generator",
              description: "Generates and displays random 2D and 3D maze meshes",
              tags: ["C++", "WebGL"],
              imageURL: "/images/projects/maze-generator/preview-large.png",
              repoLink: "https://github.com/metzlr/maze-generator",
            },
            {
              name: "3D Function Grapher",
              description: "Web app that visualizes 3D surfaces",
              tags: ["THREE.js", "Parcel"],
              imageURL: "/images/projects/grapher3D/preview.png",
              repoLink: "https://github.com/metzlr/grapher3D",
              demoLink: "https://metzlr.github.io/grapher3D",
            },
            {
              name: "Delaunay-JS",
              description: "A visualization and implementation of a Delaunay triangulation algorithm",
              tags: ["JavaScript"],
              imageURL: "/images/projects/delaunay-js/preview.png",
              repoLink: "https://github.com/metzlr/delaunay-js",
              demoLink: "https://metzlr.github.io/delaunay-js",
            },
            {
              name: "MusicFeed",
              description: "Site that uses the Spotify API to find new music from artists",
              tags: ["Django", "Bootstrap", "Apache"],
              imageURL: "/images/projects/musicfeed/preview.png",
              repoLink: "https://github.com/metzlr/MusicFeed",
            },
          ]
        each project in projects
          +project-preview(project)

    script(src="background/moving-triangles.js")
      
      
