doctype html
html(lang="en")
  head
    title Some stuff I've done
    meta(name="description" content="Some projects I've made.")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    //- Pull favicon from current github profile picture
    link(id="favicon", rel="shortcut icon", type="image/png", href="https://github.com/metzlr.png")
    link(rel="stylesheet", href="styles/main.scss")
  body
    //- iframe(id="background", src="./background/background.pug")
    canvas#background-canvas
    main.main-content
      h1.section-header Projects
      include mixins/project-preview
      - 
        var projects = [
          {
            title: "Delaunay-JS",
            date: "August 2020",
            description: "A cool looking triangle visualization that uses my implementation of a randomized incremental insertion Delaunay Triangulation algorithm  in JavaScript.",
            tags: ["JavaScript"],
            imageURL: "/images/projects/delaunay-js/preview.png",
            repoLink: "https://github.com/metzlr/delaunay-js",
            demoLink: "https://metzlr.github.io/delaunay-js",
          },
          {
            title: "3D Function Grapher",
            date: "July 2020",
            description: "Visualizes 3D functions.",
            tags: ["JavaScript", "ThreeJS", "Parcel"],
            imageURL: "/images/projects/grapher3D/preview.png",
            repoLink: "https://github.com/metzlr/grapher3D",
            demoLink: "https://metzlr.github.io/grapher3D",
          },
          {
            title: "Maze Mesh Generator",
            date: "July 2020",
            description: "Generates a maze. Then makes and spits out a 2D or 3D triangle mesh representing that maze. Demo page draws the 2D meshes with HTML canvas and the 3D ones with WebGL.",
            tags: ["C++", "WebGL", "JavaScript"],
            imageURL: "/images/projects/maze-generator/preview.png",
            repoLink: "https://github.com/metzlr/maze-generator",
            demoLink: "https://metzlr.github.io/maze-generator",
          },
          {
            title: "MusicFeed",
            date: "May 2020",
            description: "A basic site that uses the Spotify API to find new music from artists that you follow or search for.",
            tags: ["Django", "Bootstrap", "Apache"],
            imageURL: "/images/projects/musicfeed/icon.png",
            repoLink: "https://github.com/metzlr/MusicFeed",
            demoLink: "https://musicfeed.info/",
          },
          //- {
          //-   title: "Hello World!",
          //-   date: "August 2020",
          //-   description: "This is a test project!",
          //-   tags: ["JavaScript", "SASS", "Pug", "another", "another", "2", "asdf"],
          //-   imageURL: "/images/test-img.jpg",
          //-   repoLink: "https://github.com",
          //-   demoLink: "https://github.com",
          //- },
          //- {
          //-   title: "Another project",
          //-   date: "December 2030",
          //-   description: "This is also a test project",
          //-   tags: [],
          //-   imageURL: "/images/test-img.jpg",
          //-   repoLink: "https://github.com",
          //- }
        ]
      each project in projects
        +project-preview(project)

    script(src="background/moving-triangles.js")
      
      