doctype html
html(lang="en")
  head
    title Projects
    meta(name="description" content="Some projects I've made.")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    //- Pull favicon from current github profile picture
    link(id="favicon", rel="shortcut icon", type="image/png", href="https://github.com/metzlr.png")
    link(rel="stylesheet", href="styles/main.scss")

    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-179711971-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179711971-1');


  body
    canvas#background-canvas
    main.main-content
      div.profile
        img.profile-image(src="https://github.com/metzlr.png")
        div.profile-text
          h2.name Reed Metzler-Gilbertz
          h4.title Computer Science student at RPI
          div.socials
            a.btn.btn-github GitHub
        
      div.projects-container
        include mixins/project-preview
        - 
          var projects = [
            {
              name: "Delaunay-JS",
              date: "August 2020",
              description: "A cool looking visualization using my implementation of a Delaunay Triangulization in JavaScript.",
              tags: ["JavaScript"],
              imageURL: "/images/projects/delaunay-js/preview.png",
              repoLink: "https://github.com/metzlr/delaunay-js",
              demoLink: "https://metzlr.github.io/delaunay-js",
            },
            {
              name: "3D Function Grapher",
              date: "July 2020",
              description: "Visualizes 3D functions.",
              tags: ["JavaScript", "ThreeJS", "Parcel"],
              imageURL: "/images/projects/grapher3D/preview.png",
              repoLink: "https://github.com/metzlr/grapher3D",
              demoLink: "https://metzlr.github.io/grapher3D",
            },
            {
              name: "Maze Mesh Generator",
              date: "July 2020",
              description: "Generates a maze. Then makes and spits out a 2D or 3D triangle mesh representing that maze. Demo page draws the 2D meshes with HTML canvas and the 3D ones with WebGL.",
              tags: ["C++", "WebGL", "JavaScript"],
              imageURL: "/images/projects/maze-generator/preview-square.png",
              repoLink: "https://github.com/metzlr/maze-generator",
              demoLink: "https://metzlr.github.io/maze-generator",
            },
            {
              name: "MusicFeed",
              date: "May 2020",
              description: "A basic site that uses the Spotify API to find new music from artists that you follow or search for.",
              tags: ["Django", "Bootstrap", "Apache"],
              imageURL: "/images/projects/musicfeed/preview.png",
              repoLink: "https://github.com/metzlr/MusicFeed",
              demoLink: "https://musicfeed.info/",
            },
          ]
        each project in projects
          +project-preview(project)

    script(src="background/moving-triangles.js")
      
      